<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Всі події</title>
</head>
<body>
<div th:each="ticket : ${#lists.sort(tickets, comparator)}">
    <a th:text="${'Подія: ' + ticket.getName()}">подія</a>
    <br/>
    <a th:text="${'Дата: ' + ticket.getDate()}">дата</a>
    <br/>
    <a th:text="${'Вартість: ' + ticket.getPrice()}">ціна</a>
    <br/>
    <a th:text="${'Кількість: ' + ticket.getAmount()}">кількість</a>
    <br/>
    <form action="#" th:unless="${ticket.getAmount() == 0}" th:method="POST" th:action="@{/buy/{id}(id=${ticket.getId()})}">
        <input type="submit" value="Купити квиток">
    </form>
    <form action="#" th:unless="${ticket.getAmount() == 0}" th:method="GET" th:action="@{/sell/{id}(id=${ticket.getId()})}">
        <input type="submit" value="Продати квиток">
    </form>
    <button th:if="${ticket.getAmount() == 0}">Закінчились квитки</button>
    <br/>
    <br/>
</div>

<a th:href="@{/new}">Створити нову подію</a>
<br/>
<br/>
<a th:href="@{/?sort=bydate}"> Вивести список подій, відсортований за датою проведення</a>
<br/>
</body>
</html>