<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Успішна покупка</title>
</head>
<body>
<a>Ви успішно придбали білет!</a>
<a th:href="@{/}">Повернутися назад</a>
</body>
</html>