<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продати білет</title>
</head>
<body>
<p th:text="'Назва: ' + ${ticket.getName()}"/>
<p th:text="'Дата проведення: ' + ${ticket.getDate()}"/>
<p th:text="'Вартість: ' + ${ticket.getPrice()}"/>
<form method="POST" th:action="@{/sell/{id}(id=${ticket.getId()})}" th:object="${ticket}">
    <label for="wantedAmount">Кількість: </label>
    <input type="wantedAmount" th:name="wantedAmount" th:field="*{wantedAmount}" id="wantedAmount" />
    <br/>
    <br/>
    <label for="buyer">Покупець: </label>
    <input type="buyer" th:name="buyer" th:field="*{buyer}" id="buyer" />
    <br/>
    <br/>
    <input type="submit" value="Продати">
</form>
</body>
</html>